.shopify-section {
    position: relative;
}

.section-contact-form {
    padding-top: 0px;
    padding-bottom: 0px;
}



.grid-layout.grid-3 {
    grid-template-columns: repeat( 3,minmax(0,1fr) );
}
.section-contact-form .form-wrapper {
    margin-top: 60px;
    gap: unset;
}

.section-contact-form .form-wrapper .form-brand {
    color: rgb(59, 183, 126);
    font-weight: 700;
    margin: 0;
    letter-spacing: 5px;
}

.section-contact-form .form-wrapper .subtitle-form {
    margin-bottom: 30px;
    font-size: 14px;
    color: #7E7E7E;
}

.grid-layout {
    display: grid;
    gap: 30px;
}

.form-fields {
    display: grid;
    margin-right: 10px;
    column-gap: 70px;
    grid-template-columns: repeat(2, minmax(300px, 1fr))
}

.field-form input,textarea {
    border-radius: 8px;
    outline-color: rgb(59, 183, 126);
}

.section-contact-form .form-wrapper .mb-1 {
    margin-bottom: 1rem;
}

.section-contact-form .form-wrapper .field-form {
    width: 100%;
    margin-bottom: 20px;
}

.section-contact-form .form-wrapper .field-form:last-child {
    margin-bottom: 30px;
}

.section-contact-form .form-wrapper .field-form input {
    height: 64px;
    width: 100%;
    box-shadow: none;
    border: 1px solid #e0e0e0;
    padding-left: 20px;
    font-size: 16px;
}

.section-contact-form .form-wrapper {
    border-radius: 1rem;
    padding: 2rem 4rem;
    font-size: 1.7rem;
    background-color: rgb(var(--heading-color));
    border: none;
    font-weight: 700;
    font-family: var(--heading-font-family);
}

.primary-button {
    color: rgb(var(--button-text-color));
    background-color: rgb(var(--button-bg-color));
}

.section-contact-form .form-wrapper .field-form input, .section-contact-form .form-wrapper .field-form textarea {
    width: 100%;
    box-shadow: none;
    border: 1px solid #e0e0e0;
    padding-left: 20px;
    font-size: 16px;
}

.submit button {
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 17px;
    background-color: rgb(37, 61, 78);
    border: none;
    font-weight: 700;
    color: white;
    cursor: pointer;
}