/* Featured Categories */

.featured-category-section {
    padding: 20px 0;
}

@media screen and (min-width: 768px) {
    .featured-category-section {
        padding: 50px 0;
    }
}

.wrapper {
    display: flex;
    overflow: -moz-scrollbars-none;
    overflow-x: scroll;
}

.title-wrapper {
    margin-bottom: 4.4rem;
}

.category-title {
    font-size: 32px;
    margin: 0;
    font-size: 700;
}

.card-item {
    background-color: #fff3ff;
    font-size: 14px;
    padding: 2rem 0;
    width: 136px;
    margin-right: 24px;
    
    position: relative;
    border-radius: 1rem;
    border: 1px solid #F4F6FA;
    text-align: center;
    flex-shrink: 0
}

@media screen and (max-width: 990px) {
    .wrapper > .card-item {
        width: 304px;
    }
}

.card-item > a {
    text-decoration: none;
    transition-duration: .2s;
    color: rgb(37, 61, 78);
}

.card-media {
    position: relative;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.card-media img {
    width: 80px;
}

/* Banner Section */

.banner-section {
    position: relative;
    padding-top: 0;
    padding-bottom: 46px;
}


.grid {
    margin: 0 -15px;
    min-height: 1px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.grid-item {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
}

.banner-item {
    margin-bottom: 1rem;
}

.section-banner .image-banner {
    transition: transform .3s ease-out;
    position: relative;
}

.section-banner .image-banner img {
    border-radius: 1rem;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.section-banner .image-banner .content-banner {
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    padding: 0 5rem;
}

.content-banner .banner-title {
    font-size: 24px;
}

.section-banner .banner-title {
    font-weight: 700;
    transition: top .5s ease,transform .5s;
    margin: 0;
    min-height: 6.2rem;
    margin-bottom: 1.5rem;
}

.section-banner .button-name {
    display: flex;
    align-items: center;
}

.button-name {
    background-color: #3bb77e;
    padding: 8px 16px;
    font-weight: 700;
    width: 85px;
    border-radius: 6px;

    cursor: pointer;
}

.button-name:hover {
    background-color: #fdc040;
    width: 90px;
    transition: all 0.3s ease-in-out;
}

.button-text {
    font-size: 12px;
    font-weight: 700px;
    color: white;
}

.section-banner .button-icon svg {
    width: 1rem;
    margin-left: 0.3rem;
    vertical-align: text-bottom;
    transition-duration: .3s;
}

.button-name svg {
    fill: #ffffff;
}


@media (min-width: 992px){
    .grid-3 .grid-item {
       width: calc(33.333333333333336% - 30px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .grid-tablet-2 .grid-item {
        width: calc(50.0% - 30px)
    }
}

@media screen and (max-width: 768px) {
    .banner-section {
        padding-bottom: 20px;
    }
}

/*  */

.tabs-head {
    margin-bottom: 44px;
}

.tabs-head .title-section h2 {
    font-size: 32px;
}

@media (min-width: 992px) {
    .grid-5 .grid-item {
        width: calc(20.0% - 30px);
    }
}

.product-card .product-image-wrap {
    position: relative;
    overflow: hidden;
}

.product-image {
    cursor: pointer;
}

.product-image:hover {
    transform: scale(1.2);
    transition: all 0.6s;
}

.square-media {
    padding-bottom: 100%;
}

.square-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.product-card .product-url {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

a {
    text-decoration: none;
    transition-duration: .2s;
    color: rgb(37, 61, 78);
}

.product-card .product-content-wrap {
    padding: 0 2rem 2rem;
    z-index: 6;
}

.product-card .product-image-wrap~* {
    margin-top: 1.1rem;
    position: relative;
}

.product-card .product-content-wrap .product-collections {
    margin-bottom: 0.6rem;
    line-height: 1.2;
    color: rgb(173, 173, 173);
}

.product-card .product-content-wrap .product-collections a {
    font-size: 1.2rem;
    color: rgb(173, 173, 173);
    font-size: 12px;
}

.product-card .product-content-wrap .product-collections a:hover {
    color: rgb(59, 183, 126);
}

.product-card .product-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0;
}

.product-card .product-title a:hover {
    color: rgb(59, 183, 126);
}

.product-card .product-card-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 8px;
}

.product-price {
    font-size: 15px;
}

.product-price .price {
    color: rgb(59, 183, 126);
    font-size: 18px;
    font-weight: 700;
}

.product-price .regular-price {
    color: rgb(173, 173, 173);
    font-size: 14px;
    font-weight: 700;
}

.product-card .add-to-cart-button {
    padding: 8px 20px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    line-height: normal;
    box-shadow: none;
    background-color: rgb(222, 249, 236);
    color: rgb(59, 183, 126);
    border: 0;
    transition: background-color .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s ease 0s;
    cursor: pointer;
}

.product-card .add-to-cart-button svg {
    width: 14px;
    height: auto;
    margin-right: 5px;
}